*{
    padding: 0;
    margin: 0;
    border: 0;
    font-family: 'Josefin Sans', sans-serif;
}
a{
    text-decoration: none;
    color: black;
    padding: 5px 20px;
    width: 500px;
    margin: 5px;
    border-radius: 5px;
    background-color:rgb(224, 206, 150);
    text-align: center;
}

.contenedor{
    width: 200px;
    height: 200px;
    background-color: aquamarine;
    transition: 1s ease-in-out;
}

@media only screen and (max-width:800px){
    .contenedor{
        width: 200px;
        height: 200px;
        background-color: rgb(38, 146, 200);
    }
}